/*   */
*::after {
  box-sizing: border-box;
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
  display: flex;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav {
  display: flex;
  align-items: center;
}

/* logo */

.logo-link {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--IRIS, #4d5ae5);
  text-decoration: none;
  margin-right: 76px;
}

.link-menu.current {
  color: #404bbf;
}
.link-menu.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
}

/* .logo-link {
  color: #404bbf;
} */
.logo-light {
  color: #2e2f42;
}

/* menu */
.menu {
  display: flex;
  list-style-type: none;
  gap: 40px;
}

.list-menu {
  display: block;
}

.link-menu {
  text-decoration: none;
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-menu:hover {
  color: #404bbf;
}

.link-menu:focus {
  color: #404bbf;
}

.link-menu:active {
  text-decoration: underline;
  color: #404bbf;
}

/* address */
.address {
  font-style: normal;
  display: flex;

  align-items: center;
}

.address-list-content {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list {
  list-style-type: none;
  display: flex;
  gap: 40px;
}

.address-link {
  text-decoration: none;
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  justify-content: flex-end;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover {
  color: #404bbf;
}

.address-link:focus {
  color: #404bbf;
}

/* banner*/
.banner {
  padding-top: 188px;
  padding-bottom: 188px;
  flex-shrink: 0;
  background-color: var(--NAVY-BLUE, #2e2f42);
  margin: 0 auto;
  max-width: 1440px;
  background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner-slogan {
  color: var(--WHITE, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.12px;
  line-height: 1.07;

  margin: 0 auto;

  margin-bottom: 48px;
  max-width: 496px;
}

.banner-button {
  padding: 16px 32px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  gap: 10px;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttom-text {
  color: var(--WHITE, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}

.banner-button:hover {
  background: #404bbf;
}

.banner-button:focus {
  background: #404bbf;
}

/* vorteil */

.vorteil {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.vorteil-list {
  list-style-type: none;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.vorteil-list-part {
  width: 264px;
  width: calc((100% - 72px) / 4);
}

.icon-fild {
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
}

.icon {
  flex-shrink: 0;
  margin-top: 24px;
  margin-right: 100px;
  margin-bottom: 24px;
  margin-left: 100px;
}

.vorteil-header {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.vorteil-text {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/* Our team */
.team {
  flex-shrink: 0;
  background: var(--CLOUD, #f4f4fd);
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-header {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;

  margin-bottom: 72px;
}

.team-list {
  text-align: center;
  display: flex;
  gap: 24px;

  justify-content: center;
}

.team-part {
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);

  width: calc((100% - 72px) / 4);
}

.team-content {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-foto {
  background: url(<path-to-image>),
    lightgray -97.034px -0.927px / 181.897% 251.37% no-repeat;
}

.team-name {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.team-profi {
  color: var(--SLATE, #434455);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;

  margin: 0;
}

.team-social {
}

.team-social-list {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  list-style-type: none;
}

.team-social-list-item {
  width: 40px;
  height: 40px;
}

.team-social-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-social-link:hover {
  background-color: #404bbf;
}

.team-social-link:focus {
  background-color: #404bbf;
}

.team-icon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  fill: #f4f4fd;
}

/* Portfolio */

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
  /* margin: 0 auto; */
}

.portfolio-header {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  line-height: 1.11;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  list-style-type: none;
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
  justify-content: center;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item {
  /* width: calc((100% - 48px) / 3);
  flex-shrink: 0;
  box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: var(--WHITE, #fff);
  transform: translateY(0%); */
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-foto-container {
  position: relative;
  overflow: hidden;
}

.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  /* transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.portfolio-foto {
  flex-shrink: 0;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.portfolio-foto:hover {
}

.portfolio-list-item-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item-text:hover {
  transform: translateY(0%);
  /* transform: translateY(0%); */
  /* box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); */
}

.portfolio-list-item:hover .portfolio-list-item-text {
  transform: translateY(0%);
}

.portfolio-case {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-label {
}

.portfolio-label-header {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-label-text {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-label-text:hover {
  transform: translateY(0%);
}

/* Footer */
.footer {
  flex-shrink: 0;
  background: var(--NAVY-BLUE, #2e2f42);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo-text {
  margin-right: 120px;
}

.footer-logo-link {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-bottom: 16px;
}

.footer-logo-dark {
  color: var(--CLOUD, #f4f4fd);
}

.footer-slogan {
  color: var(--CLOUD, #f4f4fd);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
  max-width: 264px;
  margin-top: 0;
}

.footer-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-social-name {
  margin-bottom: 16px;
}

.footer-icons {
  display: flex;
}

.footer-social-icon {
  gap: 16px;
  list-style-type: none;
  display: flex;
}
.footer-icon-element {
  width: 40px;
  height: 40px;
}

.footer-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover {
  background-color: #31d0aa;
}

.footer-link:focus {
  background-color: #31d0aa;
}

.footer-icon {
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
}

.footer-icon:focus {
  background-color: #31d0aa;
}
